.current {
  color: green;
}

#mainNavbar {
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.2) 70%, #ffffff00);
  /* background when scroll is in the top */
  transition: background .5s;
  /* control how smooth the background changes */
}

#mainNavbar.scrolled {
  background: #ffffff;
}