.current {
  color: green;
}

#mainNavbar {
  background: linear-gradient(to bottom, var(--bs-body-color), #ffffff00);
  /* background when scroll is in the top */
  transition: background 1s;
  /* control how smooth the background changes */
}

#mainNavbar.scrolled {
  background: var(--bs-body-color);
}